# Hypothesis Testing

Hypothesis testing is a systematic procedure for deciding whether the results of a research study support a particular theory which applies to a population. Hypothesis testing uses sample data to evaluate a hypothesis about a population.

first, we need to import the libraries

In [1]:
import pandas as pd
from scipy import stats
from statsmodels.stats import weightstats as stests

load the dataset

In [2]:
df = pd.read_csv('Islander_data.csv')

preview the dataframe

In [3]:
df.head()

,first_name,last_name,age,Happy_Sad_group,Dosage,Drug,Mem_Score_Before,Mem_Score_After,Diff
0,Bastian,Carrasco,25,H,1,A,63.5,61.2,-2.3
1,Evan,Carrasco,52,S,1,A,41.6,40.7,-0.9
2,Florencia,Carrasco,29,H,1,A,59.7,55.1,-4.6
3,Holly,Carrasco,50,S,1,A,51.7,51.2,-0.5
4,Justin,Carrasco,52,H,1,A,47.0,47.1,0.1

we're gonna see the dataframe describe

In [4]:
df[['Mem_Score_Before','Mem_Score_After']].describe()

       Mem_Score_Before  Mem_Score_After
count        198.000000       198.000000
mean          57.967677        60.922222
std           15.766007        18.133851
min           27.200000        27.100000
25%           46.525000        47.175000
50%           54.800000        56.750000
75%           68.400000        73.250000
max          110.000000       120.000000

In [5]:
df.shape

(198, 9)

H0 : mean of two group is 0
H1 : mean of two group is not 0

In [6]:
ttest, pval = stats.ttest_rel(df['Mem_Score_Before'], df['Mem_Score_After'])
print(pval)

0.00015035646624295915

In [7]:
if pval < 0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

reject null hypothesis

from the output above we can tell that the null hypothesis is rejected, that means there are difference between both columns